<mat-dialog-content>
  <div class="dialog__title">
    <h2>{{ isEditMode ? "Edit Campaign" : "Add New Campaign" }}</h2>
    <button
      *ngIf="isEditMode"
      mat-icon-button
      class="delete__button"
      (click)="deleteCampaign()"
      aria-hidden="false"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

  <p>
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Campaign name"
        name="campaignName"
        [(ngModel)]="campaign.name"
        required
        maxlength="25"
      />
      <mat-icon matSuffix>title</mat-icon>
      <mat-hint align="end">{{ campaign.name.length }} / 25</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Keywords</mat-label>
      <mat-select
        [(ngModel)]="campaign.keywords"
        multiple
        placeholder="Select keywords"
      >
        <mat-option
          *ngFor="let keyword of keywordSuggestions"
          [value]="keyword"
        >
          {{ keyword }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Bid</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter bid amount"
        [(ngModel)]="campaign.bid"
        name="bid"
        required
        min="10"
        max="1000000"
      />
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-hint align="start">Minimum bid amount is 10$ </mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Fund</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter fund amount"
        [(ngModel)]="campaign.fund"
        name="fund"
        required
        min="0"
        [max]="maxFund"
      />
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-hint align="start">Fund <= emerald balance</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Town</mat-label>
      <mat-select [(ngModel)]="campaign.town" name="town" required>
        <mat-option *ngFor="let town of campaignTowns" [value]="town">{{
          town
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Radius (in km)</mat-label>
      <input
        matInput
        type="number"
        placeholder="Enter radius"
        [(ngModel)]="campaign.radius"
        name="radius"
        required
        min="1"
        max="15000"
      />
      <mat-icon matSuffix>location_on</mat-icon>
      <mat-hint class="form-informator">Distance in km</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-slide-toggle [(ngModel)]="campaign.status" required>
      Active
    </mat-slide-toggle>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="
      !campaign.name ||
      campaign.keywords.length === 0 ||
      campaign.bid <= 10 ||
      campaign.bid >= 1000000 ||
      campaign.fund <= 0 ||
      campaign.fund > maxFund ||
      !campaign.town ||
      campaign.radius <= 0 ||
      campaign.radius >= 1500
    "
  >
    Save
  </button>
  <button mat-raised-button matDialogClose>Cancel</button>
</mat-dialog-actions>
