<button mat-icon-button matDialogClose>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
  <header>
    <h1>Create new campaign</h1>
  </header>
  <p>
    <mat-form-field>
      <input
        matInput
        placeholder="Campaign name"
        name="campaignName"
        [(ngModel)]="campaign.name"
        required
      />
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Keywords</mat-label>
      <mat-select
        [(ngModel)]="campaign.keywords"
        multiple
        placeholder="Select keywords"
      >
        <mat-option
          *ngFor="let keyword of keywordSuggestions"
          [value]="keyword"
        >
          {{ keyword }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-chip-listbox>
      <mat-chip
        *ngFor="let keyword of campaign.keywords; let i = index"
        (removed)="campaign.keywords.splice(i, 1)"
        [removable]="true"
      >
        {{ keyword }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-listbox>
  </p>
</mat-dialog-content>
<mat-form-field appearance="fill">
  <mat-label>Bid</mat-label>
  <input
    matInput
    type="number"
    placeholder="Enter bid amount"
    [(ngModel)]="campaign.bid"
    name="bid"
    required
  />
  <mat-icon matSuffix>attach_money</mat-icon>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Fund</mat-label>
  <input
    matInput
    type="number"
    placeholder="Enter fund amount"
    [(ngModel)]="campaign.fund"
    name="fund"
    required
  />
  <mat-icon matSuffix>attach_money</mat-icon>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Town</mat-label>
  <mat-select [(ngModel)]="campaign.town" name="town" required>
    <mat-option *ngFor="let town of campaignTowns" [value]="town">{{
      town
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="
      !campaign.name ||
      campaign.keywords.length === 0 ||
      campaign.bid <= 0 ||
      campaign.fund <= 0 ||
      !campaign.town
    "
  >
    Save
  </button>
  <button mat-raised-button matDialogClose>Cancel</button>
</mat-dialog-actions>
