mat-form-field {
  width: 100%;
}

.dialog-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  color: #d74c4c;
  &:hover {
    color: #b22222;
    background-color: #ffe5e5;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
}
mat-dialog-content {
  overflow: hidden;
}
.mat-mdc-raised-button {
  border-radius: 5px;
  text-wrap: nowrap;
}
